<ion-view view-title="{{group.attributes.name}}">
  <ion-content has-header="true">
    <div class="padding">
      <ion-button class="button button-block button-positive" ng-click="sendMessage(group)">
        Send Message To Team
      </ion-button>
    </div>
    <ion-list>
      <div class="item item-divider">
        Team Members
      </div>
      <ion-item ng-repeat="user in usersInGroup" type="item-text-wrap">
        <h2>{{user.attributes.username}}</h2>
    </div>
  </ion-content>
</ion-view>
