<ion-view view-title="{{location.attributes.name}}">
  <ion-content has-header="true">
    <div class="padding">
      <ion-button class="button button-block button-positive" ng-click="sendMessage(location)" >
        Send Message To Location
      </ion-button>
    </div>
    <ion-list>
      <div class="item item-divider">
        People at Location
      </div>
      <ion-item class="item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/people/{{user.id}}">
        <h2>{{user.attributes.username}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
