<ion-view view-title="Login">
  <ion-content class="padding">
    <h1>EQUIP</h1>

    <form name="form" ng-model="form">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Phone or Email" name="phoneEmail" ng-model="phoneEmail">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Code" name="password" ng-model="password">
        </label>
      </div>

      <ion-button class="button button-block button-positive" ng-click="login(form)">
        Login
      </ion-button>
    </form>
  </ion-content>
</ion-view>
