<ion-view view-title="New Message">
  <ion-content has-header="true">
    <div class="padding">
      <label class="item item-input item-select item-positive">
        <div class="input-label">
          To User
        </div>
        <select ng-options="user as user.attributes.username for user in people" ng-model="user" ng-change="toUser(user)"></select>
      </label>
    </div>
    <div class="padding">
      <label class="item item-input item-select item-positive">
        <div class="input-label">
          To Group
        </div>
        <select ng-options="group as group.attributes.name for group in groups" ng-model="group" ng-change="toGroup(group)"></select>
      </label>
    </div>

    <div class="padding">
      <ion-button class="button button-block button-positive button-pull-left" ng-click="toAll()">
        To All
      </ion-button>
    </div>
  </ion-content>
</ion-view>
