<ion-view view-title="EQUIP">
  <ion-content>
    <div ng-show="askForLocation" class="padding" style="background: #FFFFC4;">
      <div ng-show="lastLocation !== undefined">
        <h3>
          Are you still at {{lastLocation.attributes.name}}?
        </h3>
        <button class="button button-light button-block" ng-click="confirmLocation()" style="border: 1px solid rgb(211, 211, 211); text-align: left; border-radius: 0;">Yes</button>

        <label class="item item-input item-select">
          <div class="input-label">
            No! I'm currently at
          </div>
          <select ng-options="loc as loc.attributes.name for loc in locations" ng-model="newLocation" ng-change="updateLocation(newLocation)"></select>
        </label>
      </div>

      <div ng-show="lastLocation === undefined">
        <h3>
          Choose your location
        </h3>
        <label class="item item-input item-select">
          <div class="input-label">
            I'm currently at
          </div>
          <select ng-options="loc as loc.attributes.name for loc in locations" ng-model="newLocation" ng-change="updateLocation(newLocation)"></select>
        </label>
      </div>
    </div>

    <div ng-show="!askForLocation" class="padding">
      Your location: {{lastLocation.attributes.name}}
    </div>

    <button class="button button-assertive icon ion-mic-a" style="border-radius: 50%; height: 52px; position: fixed; bottom: 10px; left: 50%; margin-left: -26px; z-index: 100;"  ng-mousedown="startRecording()" ng-mouseup="stopRecording()"></button>

    <div class="card" ng-repeat="message in messages">
      <div ng-show="message.attributes.toGroup" class="item item-divider">
        GROUP: {{ message.attributes.toGroup.attributes.name }}
      </div>
      <div ng-show="message.attributes.toLocation" class="item item-divider">
        <i class="icon ion-location"></i> {{ message.attributes.toLocation.attributes.name }}
      </div>
      <div ng-show="message.attributes.toLocation === undefined && message.attributes.toGroup === undefined" class="item item-divider">
        <i class="icon ion-speakerphone"></i> ALL
      </div>

      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-play" ng-click="playMessage(message)"></i>
        @{{ message.attributes.fromUser.attributes.username }}
        at
        {{ message.attributes.createdAt.getUTCHours() + ":" + message.attributes.createdAt.getUTCMinutes() + ":" + message.attributes.createdAt.getUTCSeconds(); }}
        {{ message.attributes.createdAt.getUTCFullYear() +"/"+ (message.attributes.createdAt.getUTCMonth()+1) +"/"+ message.attributes.createdAt.getUTCDate() }}
      </div>
    </div>
  </ion-content>
</ion-view>
