/* Empty. Add your own CSS if you like */
.bar.bar-stable {
    background-color: #fff;
}

.header-item {
    background-image: url(../img/equip.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80px;
}

.button.button-positive {
    background-color: #33BDC1;
    text-transform: uppercase;
}

.tabs-striped.tabs-color-light .tab-item {
    color: #27bfc4 !important;
}

.tabs-top.tabs-striped .tab-item.tab-item-active {
    border-color: #27bfc4 !important;
    border-width: 0 0 3px 0 !important;
}

.tabs-striped.tabs-color-light .tab-item[icon-on=ion-ios-people] {
    color: #4d2885 !important;
}


.tabs-top.tabs-striped .tab-item.tab-item-active[icon-on=ion-ios-people] {
    border-color: #4d2885 !important;
}


.tabs-striped.tabs-color-light .tab-item[icon-on=ion-ios-location] {
    color: #c26228 !important;
}

.tabs-top.tabs-striped .tab-item.tab-item-active[icon-on=ion-ios-location] {
    border-color: #c26228 !important;
}

.your-location {
    color: #27bfc4;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 15px;
}

h4 {
    text-transform: uppercase;
}
